<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mi Carrito</title>
    <script src="https://kit.fontawesome.com/9c1f0497c6.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
rel="stylesheet" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <div>
    <img id="logo" src ="/img/logo.png"></img>
    <p>GeekcoStore</p> </div>
    <div id="div"><i class="fa-solid fa-magnifying-glass"></i><input type="text" id="input" placeholder="Buscar productos,marcas..." >
        <a href="/">Categorias</a></div>
        
    <nav class="header__nav1">
        <p>Ingresar</p>
        <p>Registrarse</p>
    </nav> 
    <div class="burger-menu"><i class="fas fa-bars"></i></div>
    <nav class="header__nav2">
        <a href ="/carrito"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a>
        <a href ="/"><i class="fa-regular fa-circle-user" style="color: #ffffff;"></i></a>
    </nav> 
    

</header>

    <main class="main_carrito">
         <!--     <img class="fondo-carrito" src="/images/fondo-carrito.jpeg" alt=""> -->
      <!--   <img class="background" src="/images/fondo.jpg" alt="background"> -->
    <section> 
        <h2>Mi Compra</h2>
      <nav>
      
        <ul class="ul_nav">
          <li><h4>Mi Carrito</h4></li>
          <li><h4>Envío y Pago</h4></li>
          <li><h4> Verificar y Analizar</h4></li>
        </ul>
      </nav>
    </section>
    <section class="carrito_section2"> 
 

      <!-- le agregue 2 section mas una con 2 articulos y otra con otros 2 articulos
    si en algun momento te trae problemas borralos -->
  <section class="section-producto"> 
    
      <article class ="article-nav2"><nav>
        <ul class="ul_nav2">
          <li>
            <i class="fa-solid fa-camera"></i>
          </li>
          <li><p>
           articulo</p>
          </li>
          <li><p>
            cantidad</p>
          </li>
          <li>
            <p>precio</p>
          </li>
          
        </ul>
      </nav></article>
      <article class="article-nav3"><nav>
        <ul class="ul_nav3">
          <li><img class="tidus" src="/img/FF10.jpg" alt="tidus"></li>
          <li><p> Figura Tidus</p></li>
          <li><input type="number" id="cantidad" min="1"></li>
          <li><p>$50000</p></li>
        </ul>
        <ul class="ul_nav3">
          <li> <img class="tidus" src="/img/crono.jpg" alt="tidus"></li>
          <li><p> Figura Chrono Cross </p></li>
          <li><input type="number" name="" id="cantidad" min="1"></li>
          <li><p>$40000</p></li>
      <!--     <li><p>$40000</p></li> -->
        </ul>
      </nav></article></section>
       
    <section class="section-codigo"> <article class="codigo-descuento">
        <div class="boleta"><form action="/" method="post"><label for="codigo" class="descuentosino"><p>Tenes un codigo de descuento?</p></label>
        <input type="text" name="codigo" id="codigo"></form></div>  
        <div class="envios"><form action="/" method="post"> 
          <label for="envios" class="envios2"><p>Deseas recibirlo por envio?</p></label>
          <label>Si <input type="radio" name="envios" id="envios" value="si"></label>
          <label for="">No <input type="radio" name="envios" id="envios" value="no"></label>
 </form> </div> <!-- <div>
          <label for="pagos"><p class="metodos">Metodos de Pago: </p></label>
          <label ><p>Tarjeta de Credito <input type="radio" name="pagos" id="pagos" value="credito"></p> </label>
          <label ><p>Transferencia Bancaria <input type="radio" name="pagos" id="pagos" value="Transferencia"></p></label>
          <label> <p>Efectivo <input type="radio" name="pagos" id="pagos" value="Efectivo"></p></label>
       

       </div> --> </form>
      <div class="boleta"><p>Subtotal: $40000</p>
      <p>Descuentos: 0$</p>
    <p>Total: $40000</p></div>
      <!-- <div class="codigo-button"> --><button type="submit" class="boton">Continuar</button><!-- </div> -->
    

    <h4>Agregar mas productos</h4>
    </article></section> 
    </section>
      </main>

        
        <footer class="footer-body">
            <section class="section-redes">
                
                <div class="footer-contacto">
                    
                    <article class="footer-iconos">
                    <a href="">Soporte</a>
                    <img class="img-soporte" src="img/icons8-mensaje-48.png" alt="">
                </article>
                <article class="footer-iconos">
                    <a  href="">Contacto</a>
                    <img class="img-contacto" src="img/icons8-whatsapp-48.png" alt="Whatsapp-icon">
                </article>
                
                    </div>
                 <div class="section-div-redes">
                   
                    <p>¡Seguinos!</p>
                    <section class="section-redes-iconos">
                    <a href=""><img src="img/icons8-instagram-48.png" alt=""></a>
                    <a href=""><img src="img/icons8-facebook-48.png" alt=""></a>
                </section>
                    
                    </div>
                <div class="section-logo">
                    
                <img src="/img/logogecko-removebg-preview.png" alt="logo">
                <p>GeekcoStore</p>
                 </div>
                
                 
            </section>
                <article class="footer-quienes">
                  <span>Nosotros</span>
                  <p>Somos un e-commerce donde vas a encontrar todo lo relacionado con videojuegos y series, desde juegos fisicos, consolas y figuras!!.  <br>Hecha con amor por: Alejandro Vera Alexander Ureta Liliana Almirón Gabriel Robles Fernando Ortiz</p>
                </article>
               
            <section class="section-copyright">
                
                <p>2023-GeekcoStore-Todos los derechos reservados</p>
                <p>Team Owners</p>
            </section>
        </footer>

</body>
</html>