<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/header.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css">
    <script src="https://kit.fontawesome.com/ab4152bd85.js" 
                  crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap" rel="stylesheet">
    <title>Geekco-Store</title>
</head>
<body>
    <header>
        <div>
        <a href="/"><img id="logo" src ="/img/logo.png"></img></a>
        <p>GeekcoStore</p> </div>
        <div id="div"><i class="fa-solid fa-magnifying-glass"></i><input type="text" id="input" placeholder="Buscar productos,marcas..." >
            <a href="/">Categorias</a></div>
            
        <nav class="header__nav1">
            <p>Ingresar</p>
            <p>Registrarse</p>
        </nav> 
        <div class="burger-menu"><i class="fas fa-bars"></i></div>
        <nav class="header__nav2">
            <a href ="/carrito"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a>
            <a href ="/login"><i class="fa-regular fa-circle-user" style="color: #ffffff;"></i></a>
        </nav> 
    </header>
    <main class="index__main">
        <div class="home__carrousel">
            <ul>
                <li> <img src="/img/banner1.jpg"></img></li>
                <li><img src="/img/freddy.jpg" ></img></li>
                <li><img src="/img/batman.jpg" ></img></li>
                <li><img src="/img/heman.jpg"></img></li>
            </ul>
          </div>
       <h4>Productos destacados</h4>
        <section>
            <article>
                <img id="img1" src="/img/heman.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/">Ver más</a>
                    </div>
                </img>
            </article>
            <article>
                <img id="img2" src="/img/hollow.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/">Ver más</a>
                    </div>
                </img>
            </article>
            <article>
                <img  id="img3"src="/img/halo-1.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/">Ver más</a>
                    </div>
                </img>
            </article>
            <article>
                <img id="img4" src="/img/freddy.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/">Ver más</a>
                    </div>
                </img>
            </article>
            <article>
                <img id="img5" src="/img/batman.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/">Ver más</a>
                    </div>
                </img>
            </article>
            <article>
                <img id="img6" src="/img/dethstroke.jpg" alt="">
                    <div>
                        <p>Descripción de producto</p>
                        <p>$100,00</p><a href="/">Ver más</a>
                    </div>
                </img>
            </article>
        </section>
        <div class="index__banner2__div">
        <img class="index__banner2" src="/img/banner2.jpg"></img>
        <p>Seccion de computadoras</p>
          </div>
        </main>
        <footer class="footer-body">
            <section class="section-redes">
                
                <div class="footer-contacto">
                    
                    <article class="footer-iconos">
                    <a href="">Soporte</a>
                    <img class="img-soporte" src="img/icons8-mensaje-48.png" alt="">
                </article>
                <article class="footer-iconos">
                    <a  href="">Contacto</a>
                    <img class="img-contacto" src="img/icons8-whatsapp-48.png" alt="Whatsapp-icon">
                </article>
                
                    </div>
                 <div class="section-div-redes">
                   
                    <p>¡Seguinos!</p>
                    <section class="section-redes-iconos">
                    <a href=""><img src="img/icons8-instagram-48.png" alt=""></a>
                    <a href=""><img src="img/icons8-facebook-48.png" alt=""></a>
                </section>
                    
                    </div>
                <div class="section-logo">
                    
                <img src="/img/logogecko-removebg-preview.png" alt="logo">
                <p>GeekcoStore</p>
                 </div>
                
                 
            </section>
                <article class="footer-quienes">
                  <span>Nosotros</span>
                  <p>Somos un e-commerce donde vas a encontrar todo lo relacionado con videojuegos y series, desde juegos fisicos, consolas y figuras!!.  <br>Hecha con amor por: Alejandro Vera Alexander Ureta Liliana Almirón Gabriel Robles Fernando Ortiz</p>
                </article>
               
            <section class="section-copyright">
                
                <p>2023-GeekcoStore-Todos los derechos reservados</p>
                <p>Team Owners</p>
            </section>
        </footer>
    
</body>
</html>