<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LOGIN</title>
    <!-- <link rel="stylesheet" href="/css/login.css" />
    <link href="css/header.css" rel="stylesheet">
    <link href="css/index.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/footer.css"> -->
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body class="body-login">
    <header>
      <div>
      <img id="logo" src ="/img/logo.png"></img>
      <p>GeekcoStore</p> </div>
      <div id="div"><i class="fa-solid fa-magnifying-glass"></i><input type="text" id="input" placeholder="Buscar productos,marcas..." >
          <a href="/">Categorias</a></div>
          
      <nav class="header__nav1">
          <p>Ingresar</p>
          <p>Registrarse</p>
      </nav> 
      <div class="burger-menu"><i class="fas fa-bars"></i></div>
      <nav class="header__nav2">
          <a href ="/carrito"><i class="fa-solid fa-cart-shopping" style="color: #ffffff;"></i></a>
          <a href ="/"><i class="fa-regular fa-circle-user" style="color: #ffffff;"></i></a>
      </nav> 
      

  </header>
    <section class="section-login">
      <div class="logo-titulo">
        <h1>GeekcoStore</h1>

        <img src="/img/logogecko-removebg-preview.png" alt="logo" />
      </div>
      <form action="/">
        <h2>Bienvenido</h2>
        <label for="">Usuario</label>
        <input type="text" />
        <label for="">Contraseña</label>
        <input type="text" />
        <a href="">¿Olvidaste tu contraseña?</a>
        <button>LOGIN</button>
        <a href="/registro">Registrate</a>
      </form>
    </section>
  </body>
  <footer class="footer-body">
    <section class="section-redes">
        
        <div class="footer-contacto">
            
            <article class="footer-iconos">
            <a href="">Soporte</a>
            <img class="img-soporte" src="img/icons8-mensaje-48.png" alt="">
        </article>
        <article class="footer-iconos">
            <a  href="">Contacto</a>
            <img class="img-contacto" src="img/icons8-whatsapp-48.png" alt="Whatsapp-icon">
        </article>
        
            </div>
         <div class="section-div-redes">
           
            <p>¡Seguinos!</p>
            <section class="section-redes-iconos">
            <a href=""><img src="img/icons8-instagram-48.png" alt=""></a>
            <a href=""><img src="img/icons8-facebook-48.png" alt=""></a>
        </section>
            
            </div>
        <div class="section-logo">
            
        <img src="/img/logogecko-removebg-preview.png" alt="logo">
        <p>GeekcoStore</p>
         </div>
        
         
    </section>
        <article class="footer-quienes">
          <span>Nosotros</span>
          <p>Somos un e-commerce donde vas a encontrar todo lo relacionado con videojuegos y series, desde juegos fisicos, consolas y figuras!!.  <br>Hecha con amor por: Alejandro Vera Alexander Ureta Liliana Almirón Gabriel Robles Fernando Ortiz</p>
        </article>
       
    <section class="section-copyright">
        
        <p>2023-GeekcoStore-Todos los derechos reservados</p>
        <p>Team Owners</p>
    </section>
</footer>
</html>
