* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
}
<<<<<<< HEAD


=======
>>>>>>> 25ad3d40379ffe449a6535d6db2d968e2d2b511b
:root {
    --color-violet: #551CA6;
    --color-ligth-violet: #AD2AB4;
    --color-dark-cyan: #0098B6;
    --color-turquoise: #04BFBF;
    --color-midnight-blue: #00001E;
}


