<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs",{title: 'Inicio de sesión'})%>
  <body class="body-login">
    <%-include("../partials/header.ejs")%>
    <section class="section-login">
      <div class="logo-titulo">
        <h1>GeekcoStore</h1>

        <img src="/images/logogecko-removebg-preview.png" alt="logo" />
      </div>
      <form action="/users/login" method="POST">
        <h2>Bienvenido</h2>
        <label for="">Correo electronico</label>
        <input type="email" name="email" required>
        <label for="">Contraseña</label>
        <input type="password" name="password" required>
        <a href="">¿Olvidaste tu contraseña?</a>
       <input id="login__submit" type="submit" value="Login">
        <a href="/users/registro">Registrate</a>
      </form>
    </section>
  </body>
  <%-include("../partials/footer.ejs")%>
</html>
