<!DOCTYPE html>
<html lang="en">
  <%-include("../partials/head.ejs",{title: 'Inicio de sesión'})%>
  <script src="/js/users/loginValidate.js">  </script>

  <body class="body-login">
    <%-include("../partials/header.ejs")%>
    <section class="section-login">
      <h1>GeekcoStore</h1>

      <div class="logo-titulo">

        <img src="/images/logo.png" alt="logo" />
      </div>
      <form id="login-form" action="/users/login" method="POST">
        <h2>Bienvenido</h2>
        <% if (locals.errors && locals.errors.length > 0) { %>
          <div class="error-message">
            <% locals.errors.forEach(error => { %>
              <p><%= error.msg %></p>
            <% }); %>
          </div>
        <% } %>
        <div class="input-box-login" id="email-contenedor">
          <label for="">Correo electronico</label>
          <input id="login-email" type="text" name="email">
        </div>
        <div class="input-box-login" id="password-contenedor">
          <label for="">Contraseña</label>
          <input id="login-password" type="password" name="password">
        </div>
          <a href="">¿Olvidaste tu contraseña?</a>
        <div class="rememberMe-box">
          <label class="label-rememberMe" for="remember">Recordarme</label>
          <input type="checkbox" id="remember" name="remember">
        </div>
       <input id="login__submit" type="submit" value="Login">
        <a href="/users/registro">Registrate</a>
      </form>
    </section>
  </body>
  <%-include("../partials/footer.ejs")%>
</html>
