

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
.session__header__on  a{
    list-style-type: none;
    text-decoration: none;
    color: var(--color-turquoise);
    font-size: 14px;
}

.image-perfil  {
   height: 50px;
   border-radius: 30px;
   border: solid 2px white;
   padding: 2px;
}
.header__gradient {
    height: 5px; /* Altura de la barra */
    width: 100%; /* Ancho completo del header */
    position: absolute;
    overflow: hidden; /* Para ocultar el desbordamiento del gradiente */
    top: 170px;
    z-index: 10;
  }
  .header__gradient::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--color-ligth-violet),var(--color-violet),var(--color-turquoise),var(--color-ligth-violet));
    animation: gradientMovement 5s linear infinite;
    background-size: 200% 100%;
    background-position: -100% 10%;
  }
  
  /* Animación para el gradiente en movimiento */
  @keyframes gradientMovement {
    to {
      background-position: 100% 0; /* Mueve el gradiente hacia la derecha */
    }
  }
  .session__header__on a {
    list-style-type: none;
    text-decoration: none;
    color: var(--color-turquoise);
    font-size: 8px;
    padding: 0 3px;
}
#input{
    
    border: 1px solid white;
    font-size: 16px;
    width: 71%;
    border-radius: 0.2em;
    padding: 1%;
}
#div{
    width: 100%;
    align-items: center;
    background-color: #551CA6;
    padding: 2% 12% 2% 9%;
    margin-bottom: 10px;
}
.fa-solid.fa-magnifying-glass{
    color: var(--Gris-oscuro);
    background-color: white;
    border: 1px solid white;
    border-radius: 16%;
    margin-left: -4%;
    padding: 0.41em;
    margin-right: -2%;
}
#logo{
    width: 25%;
    transform: scaleX(-1);
}
.message-login-user {
    color: #fff;
    font-size: 22px;
}
    

header{
    background-color: rgb(11, 3, 46);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header p {
    color: white;
}

header div p{
    top: 55%;
    left: 21%;
    align-self: center;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
    font-size: 20px;

}
header div{
    display: flex;
    position: relative;

}
.navbar-form {
    width: 100%;
}
.header__nav1{
    display: none;
    
}
.header__nav1 ul {
    padding: 5px;
}
.header__nav1 ul li a{
    color: white;
}
.header__nav2{
    width: 49%;
    justify-content: right;
    gap: 20px;
    font-size: 24px;
    display: flex;
    margin-left: 47%;
    align-items: center;
    gap: 5%;
}

.burger-menu{
    display: inline-flex;
    width: 27px;
    background-color: #551CA6;
    padding: 6px;
    border-radius: 10%;
    margin-bottom: 2%;
}
.nav {
    visibility:hidden;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem;
    position: absolute;
    left: 0;
    top: 166px;
    background-color: #551CA6;
    z-index: 10;
}
.nav-list li{
    border-top: 1px solid #00001E;
}

.nav.visible {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}

.nav-list {
    flex-direction: column;
    align-items: end;
    text-align: center;
}

.nav-list li a {
    color: white;
}
.fas.fa-bars{
    color:white}
#div a{
    display:none
}
.abrir-menu{
    position: absolute;
    top: 130px;
    background-color: #551CA6;
}

@media(min-width:768px){
    .session__header__on a {
        list-style-type: none;
        text-decoration: none;
        color: var(--color-turquoise);
        font-size: 15px;
        padding: 0 3px;
    }
    .message-login-user {
        color: #fff;
        font-size: 27px;
    }
    .nav-list li {
        list-style: none; 
        display: inline-block;
        border:none;
      }
    .nav-list li a {
        color: white;
        text-decoration: none;
        transition: font-size 0.3s ease, color 0.3s ease;
    }
    .nav-list li a:hover {
        font-size:24.5px;
        color: var(--color-ligth-violet) 
      }
    
    .nav-list {
        display: flex;
    visibility: visible;
    flex-direction: row;
    position: relative;
    top: 34px;
    font-size: 24px;
    gap: 62px;

    }
    .abrir-menu,
.cerrar-menu {
    display: none;
}
    header{
        padding: 0.5px;

    }
    header div{  
          margin-bottom: -2%;
          order: 1;}
    header div p {
        font-size: 36px;
    }
    .burger-menu{
        display:none;}
    .header__nav1 {
        display: none;
        background-color:transparent;
        position: absolute;
        font-size: 16px;
        margin: 3%;
        top: 43px;
        z-index: 10;
        right: 141px;
    }
    
    .header__nav2 {
        margin-top: -5%;
        display: inline-flex;
        width: 50%;
        order: 1;
        gap: 40px;
        font-size: 30px;
    }
    
    #div {
        margin-bottom: 8%;
        justify-content: flex-start;
        order: 3;
    }
    .fa-solid.fa-magnifying-glass{    
        margin-right: -1%;
        padding: 0.66em;}

    #div a{
        font-size: 20px;
    color: white;
    display: flex;
    position: absolute;
    right:6%;
    text-decoration: none;
    }     
     #input{
            padding: 0.39em;
        } 
        .header__gradient {
            top: 244px;
        }
}
@media(min-width:1024px){
    .session__header__on a {
        list-style-type: none;
        text-decoration: none;
        color: var(--color-turquoise);
        font-size: 20px;
        padding: 0 5px;
    }
    .message-login-user {
        color: #fff;
        font-size: 40px;
    }
    #div{
        margin-bottom:5%;
    }
    .nav-list {
        top: 89px;
        gap: 130px;
    }
    
    .header__nav2 {
        margin-left:45%;
        gap: 5%;
    font-size: 45px;}
    #logo{
        width: 36%;
    }
    header div p {
        left: 30%;
}
.header__nav1 {
    background-color: var(--color-turquoise);
    position: absolute;
    font-size: 16px;
    margin: 3%;
    top: 70px;
    z-index: 10;
    right: -28px;
    border-radius: 20%;

}.header__nav1 ul {
    font-size: 26px;
    gap: 13px;
    display: flex;
}
.header__gradient {
    top: 299px;
    height: 5.5px;
}
}
@media(min-width: 1400px){
    #abrir__logeo1{
        font-size: 42px;
    }
    .message-login-user {
        color: #fff;
        font-size: 25px;
        position: absolute;
        right: 7%;
        top: 13%;
    }
    .header__nav2 {
        margin-top: auto;
        margin-left: auto;
        align-items: center;
        gap: 4%;
        
    }
  
    .session__header__on{
        color: aliceblue;
        display: contents;
        font-size: 23px;
    }
    .nav-list {
        gap: 140px;
        margin-left: 16%;
        top: 45px;
    }
        .header__nav1 {
            right: -36px;
            top: -9px;
        }
        .header__gradient {
            top: 252px;
        height: 7px;
        }
        .fa-solid.fa-magnifying-glass {
            padding: 0.64em;
        }
        #logo {
            width: 32%;
            margin-bottom: 2%;
        }
        #div{
            padding: 1% 11% 1% 20%;
            margin-bottom: 3%;
        }
}
