

@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');
.nav-visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.nav-hidden {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.3s ease-in-out;
}

.fa-solid.fa-cart-shopping{    color: #ffffff;
    position: absolute;
    right: 22px;
    top: 88px;
    font-size: 28px;}
.image-perfil  {
    height: 42px;
    border-radius: 30px;
    border: solid 2px white;
    width: 45px;
    display:none;
}
.header__gradient {
    height: 5px; /* Altura de la barra */
    width: 100%; /* Ancho completo del header */
    position: absolute;
    overflow: hidden; /* Para ocultar el desbordamiento del gradiente */
    top: 170px;
    z-index: 10;
  }
  .header__gradient::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, var(--color-ligth-violet),var(--color-violet),var(--color-turquoise),var(--color-ligth-violet));
    animation: gradientMovement 5s linear infinite;
    background-size: 200% 100%;
    background-position: -100% 10%;
  }
  
  /* Animación para el gradiente en movimiento */
  @keyframes gradientMovement {
    to {
      background-position: 100% 0; /* Mueve el gradiente hacia la derecha */
    }
  }
  .session__header__on a {
    color: var(--color-turquoise);
    font-size: 14px;
    margin-top: 12px;
    margin-bottom: 21px;
    gap: 5px;
    display: flex;
    margin-left: 8px;
}
#input{
    
    border: 1px solid white;
    font-size: 16px;
    width: 71%;
    border-radius: 0.2em;
    padding: 1%;
}
#div {
    width: 100%;
    align-items: center;
    background-color: #551CA6;
    padding: 2% 12% 2% 9%;
    margin-bottom: 5%;
}
.fa-solid.fa-magnifying-glass {
    color: var(--Gris-oscuro);
    background-color: white;
    border: 1px solid white;
    border-radius: 16%;
    padding: 0.41em;
}

#logo{
    width: 25%;
    transform: scaleX(-1);
}
.message-login-user {
    color: #fff;
    font-size: 22px;
}
    

header{
    background-color: rgb(11, 3, 46);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
header p {
    color: white;
}

header div p{
    top: 55%;
    left: 21%;
    align-self: center;
    color: white;
    font-family: 'Pixelify Sans', sans-serif;
    position: absolute;
    font-size: 20px;

}
header div{
    display: flex;
    position: relative;

}
.navbar-form {
    width: 100%;
}
.header__nav1{
    display: none;
}
.header__nav1 ul {
    display: inline-flex;
}
.header__nav1 ul li a{
    color: white;
    font-size: 17px;
}
.header__nav1 {
    position: absolute;
    top: -9px;
    right: 50px;
}
#input-container {
    position: relative;
    width: 71%;
}

#input {
    border: 1px solid white;
    font-size: 16px;
    width: 100%;
    border-radius: 0.2em;
    padding: 1%;
    outline: none;
}

.fa-solid.fa-magnifying-glass {
    position: absolute;
    right: -22px;
    top: -1%;
    height: 30px;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.header__nav2{
    display: flex;
    width: 96%;
    justify-content: right;
    margin-top: -15px;
    font-size: 32px;
}

.burger-menu{
    display: inline-flex;
    width: 27px;
    background-color: #551CA6;
    padding: 6px;
    border-radius: 10%;
    margin-bottom: 2%;
}
.nav {
    visibility:hidden;
    position: absolute;
    left: -23px;
    top: 165px;
    background-color: #551CA6;
    z-index: 11;
}
.nav-list li{
    margin-left: -2px;
    padding: 1px 12px 1px 0px;
}

.nav-list {
    flex-direction: column;
    align-items: end;
    text-align: center;
}

.nav-list li a {
    color: white;
}
.fas.fa-bars{
    color:white}
#div a{
    display:none
}
.abrir-menu{
    position: absolute;
    top: 130px;
    background-color: #551CA6;
}

.header__nav1.visible {
    display: inline-flex;
    margin-top: 10px;
}
.header__nav1 a:not(:last-child)::after {
    content: "|"; /* Agrega el separador como contenido después del enlace */
    margin: 0 10px; /* Espaciado del separador */
    color: white; /* Color del separador (opcional) */
}

@media(min-width:768px){
 
    .image-perfil  {display:flex}
    .fa-regular.fa-circle-user{
        
        font-size: 40px;
    }
    .session__header__on a {
        text-decoration: none;
        font-size: 18px;
    }
    .message-login-user {
        color: #fff;
        font-size: 27px;
    }
    .nav-list li {
        list-style: none; 
        display: inline-block;
        border:none;
      }
    .nav-list li a {
        color: white;
        text-decoration: none;
        transition: font-size 0.3s ease, color 0.3s ease;
    }
    .nav-list li a:hover {
        font-size:24.5px;
        color: var(--color-ligth-violet) 
      }
    
    .nav-list {
        display: flex;
    visibility: visible;
    flex-direction: row;
    position: relative;
    top: 34px;
    font-size: 24px;
    gap: 62px;

    }
    .abrir-menu,
.cerrar-menu {
    display: none;
}
    header{
        padding: 0.5px;

    }
    header div{  
          margin-bottom: -2%;
          order: 1;}
    header div p {
        font-size: 36px;
    }
    .burger-menu{
        display:none;}
    .header__nav2 {
        margin-top: -6%;
        display: inline-flex;
        width: 96%;
        order: 1;
    }
    
    #div {
        padding-bottom: 4%;
    margin-bottom: 8%;
    justify-content: flex-start;
    order: 3;
    }
    .fa-solid.fa-magnifying-glass {
        height: 38px;
        padding: 10px;
        margin-top: 1px;
    }
    #div a{
            top: 19px;
            font-size: 20px;
            color: white;
            display: flex;
            position: absolute;
            right: 8%;
            text-decoration: none;
    }     
     #input{
            padding: 0.39em;
        } 
        .header__gradient {
            top: 244px;
        }
        .fa-solid.fa-cart-shopping {
            right: 11px;
            top: 129px;
        }
}


@media(min-width:1024px){
    .header__nav1 {
        position: absolute;
        top: -6px;
        right: 109px;
        font-weight: 600;
    }
    .fa-regular.fa-circle-user {
        font-size: 50px;
        margin-right: 30px;
    }
    .image-perfil {
        width: 61px;
        height: 58px;
    }
    .fa-solid.fa-cart-shopping{
        right: 47%;
        top: 114px;
        font-size: 35px;
    }
    .session__header__on a {
        list-style-type: none;
        text-decoration: none;
        color: var(--color-turquoise);
        font-size: 20px;
        padding: 0 5px;
    }
    .message-login-user {
        color: #fff;
        font-size: 40px;
    }
    #div{
        margin-bottom:7%;
    }
    .nav-list {
        top: 89px;
        gap: 130px;
    }
    
    .header__nav2 {
        margin-left:45%;
        gap: 5%;
    font-size: 45px;}
    #logo{
        width: 36%;
    }
    header div p {
        left: 30%;
}
.header__nav1 ul {
    font-size: 26px;
    gap: 13px;
    display: flex;
}
.header__gradient {
    top: 299px;
    height: 5.5px;
}

}
@media(min-width: 1400px){
    .fa-solid.fa-cart-shopping{
            right: 45%;
    top: 83px;

    }
    .header__nav1.visible {
        display: inline-flex;
        margin-top: 6%;
        margin-right: 10%;
    }
    .header__nav1 a:not(:last-child)::after {
        
        margin: -1% 7% 0% 7%;
        
    }
    #abrir__logeo1{
        font-size: 42px;
    }
    .message-login-user {
        color: #fff;
        font-size: 25px;
        position: absolute;
        right: 7%;
        top: 13%;
    }
    .header__nav2 {
        align-items: center;
        gap: 4%;
    }
  
    .session__header__on{
        color: aliceblue;
        display: contents;
        font-size: 23px;
    }
    .nav-list {
        gap: 140px;
        margin-left: 16%;
        top: 45px;
    }
        .header__nav1 {
            right: -36px;
            top: -9px;
        }
        .header__gradient {
            top: 252px;
        height: 7px;
        }
        .fa-solid.fa-magnifying-glass {
            margin-top: 0px;
            padding-bottom: 27px;
        
        }
        #logo {
            width: 32%;
            margin-bottom: 2%;
        }
        #div{
            padding: 1% 11% 1% 20%;
            margin-bottom: 3%;
        }
}
