
#mini-carrito {
    display: none;
    position: absolute;
    top: 19%; 
    right: 33%;
    border: 3px solid #551CA6;
    padding: 10px;
    width: 427px;
    background-color: rgba(255, 255, 255, 0.9);
    z-index: 12;
    transition: opacity 0.3s ease, transform 0.3s ease; 
    transform-origin: top center;
    opacity: 0; 
}

#mini-carrito.mostrar {
    display: block;
    opacity: 1;
    transform: translateY(0); /* Desplaza hacia abajo */
}

#mini-carrito h3 {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 700;
    text-decoration: underline;
}


#lista-carrito li {
    list-style-type: disc;
    border-bottom: 1px solid black;
    display: grid;
    grid-template-columns: 172px 48px 25px 25px 75px;
    grid-template-rows: 26px;

}

#total-carrito {
    font-weight: bold;
    border-top: 2px solid black;
}

.item-carrito {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.nombre-producto {
    font-weight: bold;
    color:black;
}

.cantidad-producto {
    margin-left: 10px;
    color: #888;
}

.subtotal-producto {
    margin-left: 10px;
}

.btn-incrementar,
.btn-decrementar {
    margin-top: 10px;
    height: 29px;
    margin-left: 6px;
    cursor: pointer;
    background-color: #551CA6;
    color: #fff;
    border: none;
    border-radius: 3px;
}
.btn-eliminar{width: 22px;
    width: 20px;
    color: white;
    background-color: red;
    position: relative;
    top: -21px;
    right: 32px;
    border-radius: 26%;
}
.btn-incrementar:hover,
.btn-decrementar:hover {
    background-color: #0056b3;
}

.principal-icons-div {
    position: fixed;
    right: 0%;
    bottom: 5%;
    width: 10%;
    z-index: 100;
    font-size: 4em;
}

/* Botones funcionales */

.go-top-container {
    position: fixed;
    bottom: 12rem;
    right: 0rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}
.icon-whatsapp-container {
    position: fixed;
    bottom: 18rem;
    right: 0rem;
    width: 6.6rem;
    height: 6.6rem;
    z-index: -1;
}

.go-top-button {
    width: 0rem;
    height: 0rem;
    background-color: var(--color-turquoise);
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: .2s;
}
.icon-whatsapp-button {
    width: 0rem;
    height: 0rem;
    background-color: #20a742;
    border-radius: 50%;
    cursor: pointer;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: .2s;
}

.go-top-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}
.icon-whatsapp-button i {
    position: absolute;
    font-size: 1.7rem;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    color: white;
    transition: .2s;
}

.show{
    z-index: 10;
}

.show .go-top-button, .show .icon-whatsapp-button{
    animation: popup .3s ease-in-out;
    width: 4.6rem;
    height: 4.6rem;
    z-index: 11;
}

.show i {
    transform: translate(-50%,-50%) scale(1);
}

@keyframes popup {
    0%{
        width: 0rem;
        height: 0rem;
    }
    50%{
        width: 5rem;
        height: 5rem;

    }
    100%{
        width: 4.6rem;
        height: 4.6rem;
    }
}


.card {
    overflow: hidden;
    position: relative;
  }
.index__cardinfo {
    position: absolute;
    transform: translateY(100%);
    transition: transform 0.3s ease;
    opacity: 0.85;
    width: 100%;
    height: 89%;

}
  
  .card:hover .index__cardinfo {
    transform: translateY(13%); /* Muestra la información al pasar el ratón */
    transition: transform 0.3s ease; /* Transición suave */
  }
  
  .index__pd {
    opacity: 0;
    transition: opacity 0.3s ease; /* Transición suave */
  }
  
  .card:hover .index__pd {
    opacity: 1; /* Muestra la descripción al pasar el ratón */
    transition: opacity 0.3s ease; /* Transición suave */
  }
.index__gradient{
    position: relative;
    top: 9px;
}
.home__banner{
    width: 100%;
    height: 210px;
    border: 3px solid #AD2AB4;
}
.home__carrousel{
    width: 100%;
    height: auto;
overflow: hidden;
}
.home__carrousel ul{
    display: flex;
    padding:0;
    width:400%;
    animation: slide 10s infinite alternate ease-in-out;
}
.home__carrousel li{
    width: 100%;
    list-style: none;
    position:relative;}
     .home__carrousel img{
        width: 100%;
        height: 260px;
        border-bottom: #AD2AB4 4px solid;
    }
@keyframes slide{
    0% { margin-left:0;}
    20% { margin-left:0;}

    25% { margin-left:-100%;}
    45% { margin-left:-100%;}

    50% { margin-left:-200%;}
    70% { margin-left:-200%;}

    75% { margin-left:-300%;}
    100% { margin-left:-300%;}
}
.index__main{
background-color: #00001e;
/* background-image: url("/images/bg-body-register.png"); */
background-repeat: no-repeat;
background-size: cover;
}
.index__main .title-home-h2 {
    color: white;
    text-align: center;
    background-color: var(--color-turquoise);
    padding: 5px 0px;
    animation: title 7s ;
    animation-iteration-count: infinite;
    transition: all 10s;
}

@keyframes title {
    0% {background-color: var(--color-turquoise);}
    50% {background-color: var(--color-ligth-violet);}
    100% {background-color: var(--color-turquoise);}

}
.index__main h4{
    color: white;
    font-size:24px;
}
.index__main section{
    display:flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
    flex-wrap:wrap;
    gap:15px;
}
.index__main article{
    background-color: white;
    border:3px solid #551ca6;
    border-radius:1%;
    margin-bottom: 5px;
}
.index__main article p{
    padding:5px;
    font-weight: 600;
}
.index__main article div{
    border-top: 3px solid #551ca6;
    background-color: var(--color-violet);
    text-align: center;
    color: white;
}
.product-cardinfo {
    height: auto;
    margin-bottom: 3%;
}
.boton-product a {
    text-decoration: none;
    color: white;
}

.price-original {
    text-decoration: line-through;
}
.price-discount {
    position: absolute;
    right: 40%;
    top: 12%;
}
#img1{
    width: 100%;
    height: 260px;
}
#img2{
    width: 100%;
}
#img3{
    width: 100%;
    height: 348px;
}
#img4{
    width: 100%;
}
#img5{
    width: 100%;
}
#img6{
    width: 100%;
}
.index__banner2{
    width: 100%;
    margin-top: 20px;
}
.index__banner2__div{
position: relative;
}
.index__banner2__div p{
    position: absolute;
    color: white;
    font-size: 26px;
    z-index: 1000;
    top: 50%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    text-align: center;
    padding: 10px;
}
@media (max-width: 480px){
    .icon-whatsapp-container{
        bottom: 8rem;
        right: -4rem;
    }
    .go-top-container {
        bottom: 3rem;
        right: -4rem;
    }
    .show .go-top-button, .show .icon-whatsapp-button{
        animation: popup .3s ease-in-out;
        width: 3.6rem;
        height: 3.6rem;
        z-index: 11;
    }
}
@media(min-width:768px){
   
    .icon-whatsapp-container{
        bottom: 16rem;
        right: -2rem;
    }
    .go-top-container {
        bottom: 11rem;
        right: -2rem;
    }
    .index__main section{
        flex-direction: row;
    }
    .index__main article{
        width: 48%;
    }
    .home__carrousel img {
        height: 400px;
    }
    #img1{
        height: 300px;
    }
    #img2{
        height: 300px;
    }
    #img3{
        height: 300px;
    }
    #img4{
        height: 300px;
    }
    #img5{
        height: 300px;
    }
    #img6{
        height: 300px;
    }
}
@media(min-width:1024px){
    .home__carrousel img {
        height: 500px;
    }
    .index__main article {
        width: 32%;
    }
    .product-cardinfo{ 
        margin-bottom: 13px;}
}
@media(min-width:1400px){
   .product-cardinfo{ 
    margin-bottom: 16px;}

    #div {
        padding: 1% 11% 2% 20%;
        margin-bottom: 4%;
    }
       .index__banner2 {
        height: 550px;
    }
    }