.productForm__main{
 background-image: url("/images/wpp1.jpg");
 background-size: cover;
 height: 100%;
 width: 100%;
 display: flex;
}
.productForm__div{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0.2rem;

}
.productForm__div h2{
    width: 100%;
    text-align: center;

}
.productForm__input{
    width: 86%;
    margin: 4%;
    border-radius: 0.2rem;
    border: 2px solid black;
}
.productForm__input__enviar{
    background: var(--color-violet);
    color: white;
    font-weight: 700;
    width: 60%;
    margin: 4% 28%;
    padding: 2%;
    border-radius: 0.6rem;
}
.productForm__input__image{
    width: 92%;
    display: flex;
    margin: auto;
}

.edicion{
    width: 100%;
    text-align: center;
}
.p-errores{
    color: white;
    text-align: center;
}
@media(min-width:768px){
    .productForm__input {
        margin: 10px 40px;
    }
    .productForm__main {
        height: 850px;
    }
}
@media(min-width:1024px){
    #form{
        margin:auto;
    }
    .productForm__div{
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .productForm__main { 
        height: 100%;
    }
    .productForm__input {
            margin: auto;
            width: 100%;
           
        }
    .productForm__input__image{
        margin: 10px 199px;}
        
}
.productForm__input__enviar {
    background: var(--color-violet);
    color: white;
    font-weight: 700;
    width: 50%;
    margin: auto;
    padding: 1%;
    border-radius: 0.6rem;
    display: block;
    margin-bottom: 1%;
}