.results-main {
    background-image: url("/images/bg-body-register.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.results-main {
    height: 500px;
}

.noResults {
    color: white;
    font-weight: bold;
}

.products-novisible{
    visibility: hidden;
}