.results-main {
    background-image: url("/images/bg-body-register.png");
    background-repeat: no-repeat;
    background-size: cover;
}


.noResults {
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: auto;
    font-size: 2rem;
}

.products-novisible{
    visibility: hidden;
}

.productsList-section {
    height: 500px;
}