<%-include("../partials/head.ejs",{title: 'Carrito de Compras'})%>
<%-include("../partials/header.ejs")%>
<body class="Cart__body">
<h1>Carrito de Compras</h1>

<div id="carrito-container">
    <!-- Aquí se mostrará el contenido del carrito -->


</div>
</body>
<!-- Script para incluir el partial del carrito -->
<script src="/js/cartPartial.js"></script>
   

<%-include("../partials/footer.ejs")%>