<%-include("../partials/head.ejs",{title: 'Carrito de Compras'})%>
<%-include("../partials/header.ejs")%>
<body class="Cart__body">
<h1>Carrito de Compras</h1>

<div id="carrito-container">
    <!-- Aquí se mostrará el contenido del carrito -->


    
<div class="productCart__total"></div>

</div>
<div class="carrito-cupon-descuento">
    <h4 style="text-align: center">Cupón de descuento</h2>
    <input type="text" id="cupon-input" placeholder="Ingresa tu código de cupón">
    <button id="aplicar-cupon-btn">Aplicar Cupón</button>
    <button id="carrito-enviar-compra">Aplicar Cupón</button>
</div>

</body>
<!-- Script para incluir el partial del carrito -->
<script src="/js/cartPartial.js"></script>
   

<%-include("../partials/footer.ejs")%>