.body-products{
    background-image: linear-gradient(to bottom, #00001E 40%, #551CA6 80%);
    color: white;
    
}

.contenedor{
    display: flex;
}

.contenedor-products{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 4rem 3rem;
    width: 80%;
    margin: 0;
}

.contenedor-lista{
    margin: 0;
}

.contenedor-dashboard{
    padding: 1rem;
}

.contenedor-dashboard h1{
    text-align: center;
}

.card-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #0098B6,#AD2AB4, #551CA6) 1; 
    border-radius: 4%;
    background-color: black;
    color: white;
    width: 35vw;
    font-size:12px;
    margin-top: 2rem;
    min-height: 30rem;
}

.card-detail h1{
    font-size:28px;
    text-align: center;
    margin: 0.8rem;
}

.card-detail p{
    padding: 1rem;
    text-align:justify;
    font-size:16px;
}

.contenedor-tabla{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 35vw;
    margin: 1rem;
}


.imagen-detalles{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-tabla{
    border-radius: 3%;
    box-shadow: 1px 10px 20px #551CA6;
    background-color: #AD2AB4;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    font-size: 14px;
    align-content: center;
    font-weight: 600;
    color:rgb(233, 233, 233);
    width: 10rem;
    height: 2rem;
}

.body-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-detalle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.lista-detalle {
    white-space: nowrap; /* Evita que el texto se divida en múltiples líneas */
    overflow: hidden; /* Oculta cualquier contenido que exceda el ancho del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
    max-width: 100%; /* Asegura que el texto no desborde el contenedor */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 2rem;
    background-color: #551CA6;
    margin: 0.2rem;
    font-size: 12px;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid white;
    padding: 1rem;
    width: 90%;
    margin: 1rem;
}

.contenedor-imagen img{
    max-height: 12rem;
}

.pagination-button-left{
    background-color: transparent;
    transform: rotate(180deg);
    padding: 0.5rem;
    color: wheat;
    text-align: center;
    cursor: pointer;
}



.pagination-button-right{
    background-color: transparent;
    padding: 0.5rem;
    color: wheat;
    text-align: center;
    cursor: pointer;

}

.action-buttons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.action-buttons div{
    border-radius: 3%;
    box-shadow: 1px 10px 20px #551CA6;
    background-color: #AD2AB4;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    font-size: 14px;
    align-content: center;
    font-weight: 600;
    color:rgb(233, 233, 233);
    width: 10rem;
    height: 2rem;
    cursor: pointer;
}

.agregar-producto{
    border-radius: 3%;
    box-shadow: 1px 10px 20px #551CA6;
    background-color:#0098B6;
    padding: 0.5rem;
    margin: 1rem;
    text-align: center;
    font-size: 14px;
    align-content: center;
    font-weight: 600;
    color:rgb(233, 233, 233);
    width: 10rem;
    height: 2rem;
    cursor: pointer;
}

.action-buttons a{
    color: white;
}