.body-products{

    background-image: linear-gradient(to bottom, #00001E 40%, #551CA6 80%);
    color: white;
}

.contenedor{
    display: flex;

}

.contenedor-products{
    display: flex;
    justify-content: center;
    justify-items: center;
    padding: 3rem;
    width: 80%;
    margin: 0;
}

.contenedor-lista{
    margin: 0;
}

.contenedor-dashboard{
    padding: 1rem;
}

.contenedor-dashboard h1{
    text-align: center;
}

.card-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-width: 3px;
    border-style: solid;
    border-image: linear-gradient(to right, #0098B6,#AD2AB4, #551CA6) 1; 
    border-radius: 4%;
    background-color: black;
    color: white;
    height: auto;
    width: 35vw;
    font-size:12px;
    margin-top: 2rem;
}

.card-detail h1{
    font-size:38px;
}

.card-detail p{
    padding: 1rem;
    text-align:justify;
    font-size:24px;
}

.contenedor-tabla{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 35vw;
    margin: 1rem;
}

.lista-tabla{
    border-radius: 3% 10%;
    box-shadow: 1px 10px 20px #551CA6;
    background-color: rgba(255, 255, 255, 0.479);
    padding: 0.5rem;
    margin: 1rem;
    text-align: left;
    font-size: 18px;
    align-content: center;
    font-weight: 600;
    color:rgb(233, 233, 233);
    width: 10rem;
}

.body-tabla{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor-detalle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    align-items: center;
    border:1px solid white;
    padding: 1rem;
    width: 50%;
    margin: 1rem;
}

.contenedor-imagen img{
    width: 100%;
    height: min-content;
}

.pagination-button{
    border-radius: 100px;
    padding: 0.5rem;
    color: wheat;
    text-align: center;
}
